@charset "UTF-8";
/*correçao voi adicionar em tudo */
*{
    margin: 0;
    padding: 0;
}

body{
    background-image: linear-gradient(to right, #042940 50%, #005C53);
    font-family: Arial, Helvetica, sans-serif;
    background-attachment: fixed;
    animation: identifier 30s infinite;
}
/*Header*/
header{

    color: rgba(224, 144, 16, 0.725);
    background-color: rgb(226, 224, 224);
    
    height: 150px;
    
}
nav{
    
    border-radius: 0px 0px 10px 10px ;
    
    
    
    
    
    background-color: rgb(255, 255, 255);
    
}
a.primeiro{
    border-radius: 0px 0px 0px 10px;
}

nav>a{
    display: inline-block;
    
    color: black;
    padding: 15px;
    text-decoration: none;
    transition: .5s;
    
}
nav>a:hover{
    background-color: black;
    color: white;
    
    text-decoration: underline;
}
a:visited{
    
    text-decoration: none;
}
/*Main*/
main{
    margin-bottom: 150px;
}
.absolute{
    position: absolute;
    width: 100vw;
    overflow: hidden;
    
    
}
.troca{
    position: absolute;
    bottom: 5px;
    transform: translate(-50%);
    left: 50%;
}
input{
    width: 50px;
    height: 20px;
    
    background-color: rgba(240, 248, 255, 0.155);
    border: 1px solid black;
    transition: .5s;
    border-radius: 10px;

}
button:hover{
    background-color: white;
}
.caixa{
   
    
    display: flex;
    width: 300%;
    
    
    

}
section{
    
    position: relative;
    border: 1px solid black;
    border-radius: 10px;
    width: 100%;
    padding: 20px;
    transition: .6s;
   
}

h1{
    text-align: center;
    color: #57562d;
    margin-bottom:5px ;
}
h2{
    margin: 20px 0px 2px 50px;
}
.underline{
    text-decoration: underline;
}
p{
    text-align: justify;
    text-indent: 20px;
    margin: 5px;
}/* animations
@keyframes identifier {
    from{
        background-image: linear-gradient(to right, #042940 50%, #005C53);
    }
    to{
        background-image: linear-gradient(to right, #F27C38 50%, #F2A97E );
        transition: 5s;
    }
}
@keyframes section01 {
        from{top: 250px; left: 1% ;}
        to{top: 250px; left: 35%;}
}
@keyframes section02 {
    from{top: 250px; left: 35% ;}
    to{top: 250px; left: 1%;}
}*/