@charset "UTF-8";
/*correçao voi adicionar em tudo */
*{
    margin: 0;
    padding: 0;
}

body{
    background-image: linear-gradient(to right, #042940 50%, #005C53);
    font-family: Arial, Helvetica, sans-serif;
    background-attachment: fixed;
    animation: identifier 30s infinite;
}
/*Header*/
header{

    color: rgba(224, 144, 16, 0.725);
    background-color: rgb(226, 224, 224);
    
    height: 100px;
    
}
nav{   
    border-radius: 0px 0px 10px 10px ;
    background-color: rgb(255, 255, 255);   
}
a.primeiro{
    border-radius: 0px 0px 0px 10px;
}
nav>ul>li>a {
    color: black;
    text-decoration: none;
} 
nav>ul>li{
    display: inline-block;
    padding: 15px;
    text-decoration: none;
    transition: .5s;    
}
nav>ul>li:hover {
    background-color: #042940;
    text-decoration: underline;
    color: white;
}
nav>ul>li:hover a{
    color: white;
}
a:visited{
    color: black;
    text-decoration: none;
}

/* MAIN */

main{
    height: 900px;
}
.relative{
    border-radius: 10px;
    position: relative;
    width: 542px;
    transform: translate(-50%,-50%);
    top: 35%;
    left: 50%;
    overflow: hidden;
    border: 1px solid black;
    margin-bottom: 30px
}
.troca{
    position: absolute;
    bottom: 5px;
    transform: translate(-50%);
    left: 50%;
}
input{
    width: 50px;
    height: 20px;
    background-color: rgba(240, 248, 255, 0.155);
    border: 1px solid black;
    transition: .5s;
    border-radius: 10px;
}
input:hover{
    background-color: white;
}
.caixa{
    display: inline-flex;
    width: 300%;
}
section{
    
    position: relative;
    background-color: aliceblue;
   
    
    width: 500px;
    height: 550px;
    padding: 20px;
    transition: .6s; 
}
.item{
    width: 500px;
    height: 550px;
}

h1{
    text-align: center;
    color: #57562d;
    margin-bottom:5px ;
}
h2{
    margin: 20px 0px 2px 50px;
}
.underline{
    text-decoration: underline;
}
p{
    text-align: justify;
    text-indent: 20px;
    margin: 5px;
}
/* /MAIN */


/* @keyframes abrir {
    from{
        opacity: 0;
    }
    to{
        opacity: 100%;
    }
} */