@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

:root{
    --texto:rgb(0, 0, 0);
    --textohover:black;
    --cor1:#348888;
    --cor1_2:#22BABB;
    --cor1_3:#9EF8EE;
    --cor2:#FA7F08;
    --cor2_2:#F24405;
    --shadow:.5px .5px 10px rgba(0, 0, 0, 0.3);
}
body{
    background-image: linear-gradient(45deg, var(--cor1_2),var(--cor1_3));
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-family: 'Pangolin', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
html{
    scroll-behavior: smooth;
}
table{

    background-color: aliceblue;
    border-collapse: collapse;
}
tr.principal{
    background-color: var(--cor1_3);
    position: sticky;

}
iframe{
    width: 280px;
    height: 500px;
    overflow: hidden;

    width: auto;

}
ul,ol{
    list-style: inside;
}

td, th{
    border: 1px solid black;
   
}
.glossario{
    width: auto;
    height: auto;
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 20px;
}
.glossario>h1{
    margin: 2%;
}
.dashed{
    border: 3px dashed black;
    margin-right: 10px;
    padding: 10px;
    width: 45%;
    display: inline-block;
    height: auto;
}
img{
    display: block;
    width: 200px;
    margin:auto;
    margin: 10px;
    box-shadow: inset var(--shadow);
}
.res{
    display: none;
}
.verific{
    background-color: rgb(42, 155, 165);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.code{
    background-color: rgb(17, 200, 200);
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    max-width: 300px;
    margin: 10px;
    letter-spacing: .1em;
    box-shadow: .5px .5px 5px  rgba(0, 0, 0, 0.557);
}
label.code{
    font-size: .8em;
    letter-spacing: .05em;
}
.botao{
    background-color: rgba(0, 255, 255, 0.385);
    border-radius: 5px;
    border: none;
    padding: 5px;
    letter-spacing: .05em;
    transition: .5s;
}
input:focus{
    outline: none;
    background-color: aqua;
}
button.botao{
    margin: 5px;
    box-shadow: .5px .5px 5px rgba(0, 0, 0, 0.407);

}
button.botao:hover{
    background-color: rgba(0, 255, 255, 0.486);
    letter-spacing: .1em;
    box-shadow: none;
}
button.botao:active{
    background-color: aqua;
    letter-spacing: .2em;
}
.temas{
    transition: .5s;
    list-style: none;
    background-image: linear-gradient(45deg, var(--cor1), var(--cor1_3));
    padding: 10px;
    box-shadow: var(--shadow);
    border-radius: 0px 0px 5px 5px;
}
.temas>li>ul{
    list-style: none;
    transform: translateX(-100%);
    transition: .5s;
}
.temas>li>ul>li>a{
    text-decoration: none;
    color: var(--texto);
    background-color: var(--cor2_2);
    padding: 5px;
    display: block;
    border-radius: 5px;
    width: 250px;
    margin:5px auto;
    transition: .3s;
}
.temas>li>ul>li>a:hover{
    background-color: var(--cor2);
}
.temas>li>ul>li>a:active{
    background-color: var(--cor1);
}
section{
    background-color: aliceblue;
    margin:20px auto;
    border-radius: 5px;
    padding: 10px;
    box-shadow: var(--shadow);
    max-width: 300px;
}
p{
    text-indent: 10px;
    margin: 10px;
}
h1,h2,h3{
    margin: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
mark{
    background-color: var(--cor1_3);
    border-radius: 3px;
    
}
div.contactos>ul{
    list-style: none;
    display: flex;
}
div.contactos>ul>li{
    background-color:var(--cor2_2);
    border-radius: 5px;
    margin: 10px;
    height: 30px;
    width: 100px;
    padding: 5px;
    position: relative;
    transition: .5s;

}
div.contactos>ul>li:hover{
    background-color: var(--cor2);
}
div.contactos>ul>li>div{

display: inline-block;


}
div.contactos>ul>li>a{
    display: inline-block;
    text-decoration: none;
    color:var(--texto);
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    height: 20px;
    border-radius: 5px;
}
div.contactos>ul>li>div>img{
    width: 20px;
    height: 20px;
    margin-right: 5px;
    margin: 0;
    box-shadow: none;
}
button.boton{
    margin:20px auto;
    display: block;
    padding: 5px;
    background-color: var(--cor1_2);
    border-radius: 5px;
    transition: .5s;
    border: none;
    border: 2px solid rgba(80, 80, 80, 0);


}
button.boton:hover{
    background-color: var(--cor1_3);
    letter-spacing: .05em;

}

button.boton ~ ul{
    display: none;
    transition: .5s;
    
}
button.renato ~ul{
    display: block;
    animation-name: aparecer;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    transition: .5s;
}
button.renato{ 
    border: 2px solid rgb(80, 80, 80);
}

@keyframes aparecer{
    to{
        transform: translateX(0);
    }
}