body{
    font-family: Arial, Helvetica, sans-serif;
}
table{
    
}
td, th{
    border: 1px solid black;
}
.glossario{
    width: 500px;
    height: auto;
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 20px;
}
.glossario>h1{
    margin: 2%;
}
img{
    display: block;
    width: 300px;
    margin:auto;
}