*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    height: 100vh;
    background-color: lightskyblue;
    background-image: linear-gradient(45deg, rgb(193, 226, 254),rgb(2, 158, 255))
}
header{
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 0px 0px 5px 5px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 1s;
}
header>h1{
   letter-spacing: .1em;
}
header>ul{
   list-style: none;
   
}
ul>li{
    transition: 1s;
    
}
header>ul>li{
    position: relative;
    background-color: rgba(0, 0, 255, 0.2);
    margin: 5px;
    width: 180px;
    border-radius: 5px;
    box-shadow: .5px .5px 5px rgba(0, 0, 0, 0.3);
}
header>ul>li>a{
    
    
    padding: 5px;
    line-height: 3em;
    text-decoration: none;
    color: black;
    transition: .3s;
    text-transform: uppercase;
    font-size:.8em ;

}
header>ul>li:hover{
    background-color: rgba(0, 0, 255, 0.5);
    box-shadow: none;
    letter-spacing: .05em;
}
header>ul>li.renato
{
    margin-bottom:var(--es);
}
/* destaque */

.destaque{
    color: #ff0000b1;
}
/* destaque */
ul>li>ul{
    position: absolute;
    display: block;
    width: 600px;
    opacity: 0;
    transition: .5s;
    z-index: -3;
    list-style: none;
}
ul>li.renato>ul{
    z-index: 2;
    opacity: 1;
}

ul>li>ul>li>a{
    background-color: aqua;
    color: black;
    text-decoration: none;
    line-height: 2em;
    padding: 5px;
    border-radius: 5px;
    transition: .5s;
}
ul>li>ul>li>a:hover{
    background-color:rgb(0, 221, 221) ;
}
.opcao{
    position: absolute;
    left: 100%;
    transform: translateX(-100%);
    display: inline-block;
    
    width: 40px;
    height: 100%;
}
.opcao::before{
    content: '';
    width: 80%;
    position: absolute;
    top: 20%;
    height: 2px;
    background-color: black;
    margin: auto;
    box-shadow: 0 8px black;
    transition: 0.5s;

}
.opcao::after{
    content: '';
    width: 80%;
    height: 2px;
    position: absolute;
    top: 70%;
    transform: translatey(-100%);
    background-color: black;
    transition: 0.5s;
}
li.renato>div>.opcao::after{
    transform: skewY(45deg);
    width: 25px;
    margin-top: -10px;
}
li.renato>div>.opcao::before{
    box-shadow: 0 0 black;
    transform: skewY(-45deg);
    margin-top: 10px;
    width: 25px;
}

li>div{
    width: 40px;
    
    height: 100%;
    left: 100%;
    position: absolute;
    display: inline-block;
    transform: translateX(-100%);
}



